$blue-2: #3e7dc0;
$danger: #d32f2f;
$warning: #ffa000;
$success: #43a047;
$disabled: #f3f3f3;
$black-1: #27292d;
$black-2: #505154;
$black-3: #b3b3b4;
$black-4: #dbdbdb;
$white-100: #f9f9f9;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
   margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;

}

#app {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

nav {
  background: #37003c;
  padding: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    float: left;
    position: relative;
    a {
      display: block;
      padding: 10px 20px 0 20px;
      line-height: 50px;
      color: $white-100;
      text-decoration: none;
      &::before {
        transition: 300ms;
        height: 5px;
        content: "";
        position: absolute;
        background-color: #ff2882;
        width: 0%;
        bottom: 0px;
      }

      &:hover::before{
        width: 70%;
      }
      &:not(:only-child):after {
        padding-left: 4px;
        content: ' ▾';
      }
    }
  }
  }
}

.navbar-logo {
  color: $white-100;
}

.button {
  border-radius: 8px;
  border: 0px solid transparent;
  font-size: 14px;
  font-family: "AvenirBL", sans-serif;
  text-align: center;
  background-color: transparent;
  padding: 16px 24px;
  cursor: pointer;
  transition: 0.1s all ease-in-out;
  &-xs {
    padding: 3px 10px;
  }
  &-sm {
    padding: 8px 16px;
    min-width: 85px;
  }
  &-md {
    padding: 16px 8px;
    height: fit-content;
  }
  &-md-2 {
    padding: 16px 24px;
    height: fit-content;
  }
  &-lg {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 150px;
  }

  &-black {
    background-color: white;
    color: $black-1;
    border-color: $black-2;
  }
  &-grey {
    background-color: $black-4;
    color: $black-2;
    border-color: $black-3;
  }
  &-primary {
    background-color: $blue-2;
    color: $white-100;
    border-color: $blue-2;
  }
  &-secondary {
    background-color: $white-100;
    color: $blue-2;
    border: 1px solid $blue-2;
  }
  &-success {
    background-color: $success;
    color: $white-100;
    border-color: $success;
  }
  &-danger {
    background-color: $danger;
    color: $white-100;
    border-color: $danger;
  }
  &-warning {
    background-color: $warning;
    color: $white-100;
    border-color: $warning;
  }
  &:disabled {
    background-color: $white-100;
    color: $black-3;
    cursor: not-allowed;
  }
  &-line {
    border: 1px solid $black-3;
    background-color: $white-100;

  }
  &-line-primary {
    border: 1px solid $blue-2;
  }

  span {
    margin-left: 11px;
  }
}

.card {
  .card-container {
  margin: 16px 64px;
}

.card-title {
  margin-bottom: 32px;
}

ul {
  list-style: none;
  text-align: center;
  align-items: center;
}
.card-list {
  border: 1px solid $black-2;
  padding: 16px;
  border-radius: 8px;
  margin: 8px auto;
  max-width: 500px;
  cursor: pointer;

  &:hover {
    background-color: $black-4;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition: 0.1s all ease-in-out;
  }
}
.card-link {
  text-decoration: none !important;
  color: $black-1;
}
}



@media only screen and (max-width: 650px) {
  nav {
    flex-direction: column;
      .navbar-logo {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .menu-icon {
      display: block;
      font-size: 25px;
    }

    ul {
      display: none;
      flex-direction: column;
      padding-top: 16px;
      width: 100%;
    }
    ul.open {
      display: flex;
    }
    li {
      padding: 10px;
      text-align: center;
    }
  }

  .card-list {
  max-width: 200px;
  }

  .logo {
    text-align: center;
  }

}
